
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #212529;
}


header {
    background-color: #007BFF;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    margin: 0;
}


nav {
    background-color: #6C757D;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #FFC107;
}


footer {
    background-color: #212529;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


main {
    padding: 20px;
}

main h2 {
    font-size: 28px;
}

main p {
    font-size: 16px;
}
